<%-include("partials/header.ejs") %>

<section id="header" class="head">
  <img
    src="/images/illustration-working.svg"
    class="head-img"
    alt="destop-img"
  />
  <div class="header">
    <h1>More than just shorter links</h1>

    <p>
      Build your brand’s recognition and get detailed insights on how your links
      are performing.
    </p>

    <a href="#starter"><button class="starter">Get Started</button></a>
  </div>
</section>

<section id="stat">
  <div class="shorten">
    <div class="sho">
      <div class="loader"></div>
      <form action="/short" method="post" class="form">
        <div>
          <input
            name="longUrl"
            id="input"
            type="text"
            placeholder="<%= locals.error ? error:'Shorten a link here...' %>"
            class="input"
          />
          <h5 class="inputError">Enter Your Url</h5>
        </div>
  
        <button class="shorten-btn" type="submit">Shorten It!</button>
      </form>
    </div>
  </div>
  <%if(locals.url) { %> <% url.forEach(url => { %>
  <div class="link">
    <div class="all" id="link">
      <div>
        <p class="full"><%= url.long_link%></p>
      </div>

      <hr class="hr" />
      <div class="sh">
        <h4 class="short"><%= url.short_link%></h4>
        <button value="<%= url.short %>" class="copy">Copy</button>
        <form action="/delete" method="post" class="del">
          <button name="deletedId" value="<%= url.id %>" class="delete">
            Delete
          </button>
        </form>
      </div>
    </div>
  </div>
  <% }); %> <% } %>
</section>
  <section id="statistics">

  <div class="ad">
    <h1 class="advanced">Advanced Statistics</h1>
    <p class="adv">
      Track how your links are performing across the web with our advanced
      statistics dashboard.
    </p>
  </div>

  <div id="flag">
    <div class="brand flager">
      <div class="illu">
        <img src="/images/icon-brand-recognition.svg" alt="brand regognition" />
      </div>

      <h4 class="bold con">Brand Recognition</h4>

      <p class="state con">
        Boost your brand recognition with each click. Generic links don’t mean a
        thing. Branded links help instil confidence in your content.
      </p>
    </div>
    <div class="details flager">
      <div class="illu">
        <img src="/images/icon-detailed-records.svg" alt="detailed-records" />
      </div>

      <h4 class="bold con">Detailed Records</h4>
      <p class="state con">
        Gain insights into who is clicking your links. Knowing when and where
        people engage with your content helps inform better decisions
      </p>
    </div>
    <div class="line"></div>
    <div class="customizable flager">
      <div class="illu">
        <img
          src="/images/icon-fully-customizable.svg"
          alt="icon-fully-customizable"
        />
      </div>

      <h4 class="bold con">Fully Customizable</h4>
      <p class="state con">
        Improve brand awareness and content discoverability through customizable
        links, supercharging audience engagement.
      </p>
    </div>
  </div>    
  </section>



<section id="boost">
  <div>
    <h3>Boost your links today</h3>
    <button class="boost">Get Started</button>
  </div>
</section>

<%-include("partials/footer.ejs") %>
